@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body{

    max-width: 70%;
    margin: 40px auto;

    font-family: 'JetBrains Mono', monospace;
}

.container-two{
    margin-right: 90px;
}

.container-three,h1,p,button {
    margin-left: 30px;
    margin: 40px;
  
   
}

.container-main{
    
    margin: 150px auto;
    display: flex; 
    flex-direction: row;
 
}

img{
    max-width:100%;
    
}  

button{
    background-color: black;
    color: white;
    padding: 30px;
}

@media screen and (max-width:800px) {   
    .container-main {
            display: block;
            width:100%;
    }

    .container-one{
        margin:0;
    }

    .container-two{
        margin: 0;
    }

    .container-three{
        margin: 0;

        padding: 0;
    }
}

footer{
    text-align: center;
    max-width: 90%;
    margin: auto;
}
